{{> nav}}

<div>
    <div class="d-flex justify-content-center">
        <a class="ms-3 mt-4 mb-3 text-decoration-none btn btn-success text-light" id="addNewBlogBtn" href="/blogAdd">Add New Post</a>
    </div>
    <ul class="d-flex flex-column align-items-center" style="height: 100px;">
        {{#each blogContent}}
        <li class="card w-75 h-75 boarder position-relative bg-warning mt-4">
            <div class="card-body mb-3">
                <a class="fs-4 d-inline text-light" href="/dashboard/edits/{{id}}">
                    <span>{{this.title}}</span>
                </a>
                <p class="text-light d-inline fw-bold position-absolute top-0 end-0 mt-4 me-2">{{format_time this.date}}
                </p>
            </div>
            {{/each}}
        </li>
    </ul>
</div>